
# Ignore Sublime Text project files
*.sublime-project
*.sublime-workspace

# Added entries (1 items)
debug.log

# Added entries (2 items)
__pycache__/
ghw.egg-info/

# Added entries (1 items)
trprint.egg-info/

# Added entries (1 items)
gitignore_backup/
# PT backup directory
.pt/
